<div class="text-black mt-5 text-center">
    <h5>{{datedetails | date:'short'}}</h5>
</div>
<div  class="text-end pt-3 pe-4">
    <button (click)="deleteParent()" class="btn btn-danger  ">Delete Account</button>
    <button (click)="logout()" type="button" class="btn btn-warning ms-2">logout</button>

</div>


<h1>Welcome {{user}}</h1>
<div  [ngClass]="acno?'style':'' " class="mt-2 p-2 w-25 container text-center ms-3 border border-dark rounded-pill" style="background-color: rgba(0,0,0,0.284);">
<a style="text-decoration: none;color:rgb(206, 206, 194) ; " href="" routerLink="/transaction">View Trasaction History</a>
</div>
<app-deleteconfirm (onDelete)="Delete($event)" (oncancel)="cancel()" [item]="acno"></app-deleteconfirm>

<div [ngClass]="acno?'style':'' " class="cintainer row mb-5 p-5">

<div class=" text-center container col-lg-6 col-md-12">
    <div class="container w-75 rounded text-center p-5 mt-2 " style="background-color: rgba(0,0,0,0.284);">  
    <h1 class="text-white">Deposit</h1>
<form action="" [formGroup]="depositForm">
    <div class="p-3 mt-2">
        <input formControlName="acno" id="acid" name="acnum1" class="form-control" type="text" placeholder="Enter acnum">
    </div>


    <div class="p-3 mt-2">
        <input formControlName="psw"  id="psw" name="paswrd1" class="form-control" type="password" placeholder="Enter password">
    </div>


    <div class="p-3 mt-2">
        <input  formControlName="amnt"  id="amouid" name="amnt1" class="form-control" type="text" placeholder="ammount">
    </div>

    <div class="p-3 mt-2">
        <button (click)="deposit()" type="button"   class="btn btn-outline-warning">deposit</button>
    </div>

</form>

</div>
</div>




<div class="text-center container col-lg-6 col-md-12">
    <div class="container w-75 rounded text-center p-5  mt-2" style="background-color: rgba(0,0,0,0.284);"> 
    <h1 class="text-white">withdraw</h1>
<form action="" [formGroup]="withdrawForm">
    <div class="p-3 mt-2">
        <input formControlName="acno1" id="acno1" name="acnum12" class="form-control" type="text" placeholder="Enter acnum">
    </div>


    <div class="p-3 mt-2">
        <input formControlName="psw1" id="psw1" name="paswrd12" class="form-control" type="password" placeholder="Enter password">
    </div>


    <div class="p-3 mt-2">
        <input  formControlName="amnt1"  id="amouid1" name="amnt12" class="form-control" type="text" placeholder="ammount">
    </div>

    <div class="p-3 mt-2">
        <button (click)="withdraw()"  type="button"   class="btn btn-outline-warning">withdraw</button>
    </div>

</form>

</div>

</div>
</div>
